.first-heading {
  font-size: 65px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.92);
  margin-top: 75px;
  text-align: center;
}

.first-heading--thin {
  font-weight: 300;
}

.second-heading {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #747a7c;
}

@media (max-width: 1150px) {
  .first-heading {
    font-size: 7vw;
  }
}
